# IntelliJ files
*.iml
/local.properties
/.idea/workspace.xml
/app/.idea/workspace.xml
/.idea/libraries
app/.idea/libraries/

# Gradle
.gradle

# Generated build files
/build
/app/build/

# generated APKs for PlayStore
signed-apk/

# Mac OS files
.DS_Store