<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.truethat.android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <!-- For phone number and device ID -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <uses-feature android:name="android.hardware.camera2.full"/>

  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_logo"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_logo"
      android:screenOrientation="portrait"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".theater.TheaterActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".studio.StudioActivity">
    </activity>
    <activity android:name=".common.util.TestActivity">
    </activity>
    <activity android:name=".application.permissions.AskForPermissionActivity">
      <intent-filter>
        <action android:name="android.intent.action.ATTACH_DATA"/>

        <data android:mimeType="application/octet-stream"/>
      </intent-filter>
    </activity>
    <activity android:name=".welcome.WelcomeActivity">
    </activity>
    <activity android:name=".welcome.OnBoardingActivity">
    </activity>
  </application>

</manifest>